<ul class="hours" cdkDropListGroup>
  <div class="day">
    {{selectedDate$.date$.value | date  }}
  </div>
  <li
    *ngFor="let hour of hoursToDisplay; let i = index"
    class="hours__hour"
    cdkDropList
    [cdkDropListData]="i"
    style="min-height: 70px; width: 100%;"
  >
    {{ hour | date : "H:00" }}
    <div *ngFor="let appointment of appointmentsForDate">
      <app-appointment
        *ngIf="appointment.date?.getHours() === i"
        class="appointment"
        [appointment]="appointment"
      ></app-appointment>
    </div>
  </li>
</ul>
