.mat-dialog-content {
  min-width: min-content;
  max-width: 20rem;
}

.mat-form-field {
  margin-right: 0.5rem;
  width: 100%;
}

.mat-dialog-actions {
  justify-content: center;
  align-items: center;
  display: flex;
}

.btn {
  width: 45%;
}

.form {
  padding: 1rem;
}
