body {
  margin: 0;
  max-width: 1090px;
}

.container {
  display: flex;
  @media (max-width: 560px) {
    display: block
  }
}

.calendar {
  display: block;
  gap: 0.5rem;
  grid-template-columns: 1fr;
  min-width: 300px;
  margin-bottom: 1rem;

  @media (min-width: 560px) {
    margin-right: 1rem;
  }
}

.add-button {
  margin-bottom: 1rem;
}

